nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: 'poppins', sans-serif;
  padding: 0 5%;
  height: 100px;
  background-color: #3385D9;
}

nav .logo {
  float: left;
  width: 20%;
  height: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .links {
  padding: 0;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .links .active {
  text-decoration: underline;
}

nav .links li {
  list-style: none;
}

nav .links a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

body {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  nav .logo {
    float: none;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  nav .links .active li a {
    color: #3385D9;
    text-decoration: none;
  }
  nav .links a {
    font-size: 14px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
  color: #707070;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

table {
  width: 98%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #fff;
}

table th {
  text-align: left;
  padding: 5px;
  color: #3385D9;
}

table td {
  text-align: left;
}

table td img {
  width: 30px;
  height: 30px;
}

table tr:nth-child(2n) {
  background-color: #f2f2f2;
}

.Tab {
  margin-top: 40px;
  overflow-x: auto;
  width: 100%;
}

.Tab input[type=button] {
  float: right;
  border-radius: 5px;
  border: none;
  margin-right: 100px;
  margin-top: 10px;
  width: 180px;
  height: 40px;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3385D9), to(#8275ce));
  background-image: linear-gradient(to bottom right, #3385D9, #8275ce);
  color: white;
}

.TitleEtud {
  width: 98%;
}

.TitleEtud h1 {
  color: #3385D9;
}

.TitleEtud #But {
  border-radius: 0px;
  float: right;
  width: 25%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hide {
    display: none;
  }
  .TitleEtud #But {
    width: 80%;
  }
}

h1 {
  color: #3385D9;
}

#return {
  float: right;
  border-radius: 5px;
  border: none;
  margin-right: 100px;
  margin-top: 10px;
  width: 120px;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00fd22), to(#22b1d4));
  background-image: linear-gradient(to bottom right, #00fd22, #22b1d4);
  color: white;
}

.hidden {
  visibility: hidden;
}

.contForm {
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
  background: #F2F1F1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contForm input[type=password] {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.contForm input[type=date] {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.contForm input[type=text] {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.contForm input[type=number] {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.contForm select {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.contForm label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #3385D9;
}

.contForm input[type=submit] {
  background-color: #3385D9;
  width: 30%;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contForm input[type=submit] :hover {
  background-color: blue;
}

.contForm .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contForm .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.contForm .col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.contForm .row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
  .contForm {
    width: 100%;
  }
  .contForm .col-25 {
    width: 100%;
    margin-top: 0;
  }
  .contForm .col-75 {
    width: 90%;
    margin-top: 0;
  }
  .contForm input[type=submit] {
    width: 50%;
    margin-right: 50px;
    margin-top: 0;
  }
  .contForm input[type=text] {
    width: 90%;
    margin-top: 0;
  }
  .contForm input[type=password] {
    width: 90%;
    margin-top: 0;
  }
  .contForm input[type=date] {
    width: 90%;
    margin-top: 0;
  }
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.containerlogin {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.img img {
  width: 500px;
}

.form1 {
  width: 360px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7% 93%;
      grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.i i {
  -webkit-transition: .3s;
  transition: .3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  -webkit-transition: .3s;
  transition: .3s;
}

.input-div:before, .input-div:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #3273be;
  -webkit-transition: .4s;
  transition: .4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before, .input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .i > i {
  color: #3257be;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: 'poppins', sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

.fp {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.fp:hover {
  color: #3257be;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#3257be), color-stop(#3888d3), to(#3273be));
  background-image: linear-gradient(to right, #3257be, #3888d3, #3273be);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  .containerlogin {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .form1 {
    width: 290px;
  }
  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }
  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .containerlogin {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .img {
    display: none;
  }
  .wave {
    display: none;
  }
  .login-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#But {
  color: white;
  border: none;
  border-radius: 12px;
  height: 40px;
  width: 80%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3385D9), to(#8275ce));
  background-image: linear-gradient(to bottom right, #3385D9, #8275ce);
}

#But:hover {
  color: black;
}

img {
  cursor: pointer;
}

.blank {
  padding-top: 30px;
  padding-bottom: 30px;
}

.c select {
  width: 180px;
  padding: 12px;
  border: 1px solid #6565ad;
  border-radius: 4px;
  resize: vertical;
  color: #000;
}

.c input[type=text] {
  width: 180px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.c input[type=submit] {
  border-radius: 5px;
  border: none;
  margin-right: 100px;
  margin-top: 10px;
  width: 180px;
  height: 40px;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00fd22), to(#22b1d4));
  background-image: linear-gradient(to bottom right, #00fd22, #22b1d4);
  color: white;
}

footer {
  font-size: 0.7rem;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #3385D9;
}

footer span {
  font-size: 14px;
  color: #fff;
}

.rightbottom {
  cursor: pointer;
  padding-right: 50px;
  float: right;
  text-decoration: underline;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 120px 10px 40px 30px;
}

.container .col {
  float: left;
  width: 24%;
  height: 550px;
  margin-bottom: 16px;
  padding: 0 8px;
  border: 2px solid #3385D9;
}

.container .col .img {
  width: 80%;
  height: 40%;
}

.container .col .imgaddprof {
  width: 71%;
  cursor: pointer;
  fill: red;
}

.container .Cont {
  display: block;
  width: 24%;
  height: 565px;
  padding: 0 8px;
}

.container .Cont .colA {
  height: 350px;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 8px;
  border: 2px solid #3385D9;
}

.container .Cont .colA .img {
  width: 40%;
  height: 20%;
}

.container .Cont .colB {
  float: left;
  height: 184px;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 8px;
  border: 2px solid #3385D9;
  overflow-y: scroll;
}

.container .col2 {
  float: left;
  width: 50%;
  height: 550px;
  margin-bottom: 16px;
  padding: 0 8px;
  border: #3385D9 4px;
  border: 2px solid #3385D9;
}

.container .col2 .line {
  margin-top: 20px;
  border-radius: 16px;
  width: 100%;
  height: 40px;
  background-color: #3385D9;
}

.container .col2 .line .Module {
  padding-right: 30px;
  float: right;
}

.container .col2 .line .filiere {
  padding-left: 20px;
  right: inherit;
}

.container .col2 .line span {
  color: white;
}

@media screen and (max-width: 768px) {
  .container .col {
    width: 49%;
  }
  .container .col2 {
    width: 99%;
  }
  .container .Cont {
    width: 49%;
  }
}
/*# sourceMappingURL=style.css.map */