table {
    width: 98%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #fff;

    th {
        text-align: left;
        padding: 5px;
        color: $primary-color;
    }

    td {
        text-align: left;
        img {
            width: 30px;
            height: 30px;
        }
    }

    tr {
        &:nth-child(2n) {
            background-color: #f2f2f2;
        }
    }
}

.Tab {
    margin-top: 40px;
    overflow-x: auto;
    width: 100%;
    input[type=button]
    {
    float: right;
    border-radius: 5px;
    border: none;
    margin-right: 100px;
    margin-top: 10px;
    width:180px ;
    height: 40px;
    cursor: pointer;
    background-image: $button-color;
    color: white;
  }
}
.TitleEtud
{
   width: 98%;
    h1{
        color: $primary-color;
    }
    #But
    {
        border-radius: 0px;
        float: right;
        width: 25%;
        cursor: pointer;
    }
}
@media screen and (max-width: 768px)
{
.hide
{
    display: none;
}
.TitleEtud
{
    #But
    {
        width: 80%;
    }
}
}