$primary-color : #3385D9;
$Text-color : #707070;
$form-color : #F2F1F1;
$button-color :linear-gradient(to bottom right, #3385D9, rgb(130, 117, 206));
$return-button : linear-gradient(to bottom right, #00fd22, rgb(34, 177, 212));